[filesystem]
static = {{ pretalx_staticfiles_directory }}
media = {{ pretalx_media_dir }}
data = {{ pretalx_data_dir }}

[database]
backend = {{ pretalx_database_backend }}
name = {{ pretalx_database_name }}
user = {{ pretalx_database_user }}
password = {{ pretalx_database_password }}
host = {{ pretalx_database_host }}
port = {{ pretalx_database_port }}

[site]
url = {{ pretalx_url }}

{% if pretalx_secret_key %}secret = {{ pretalx_secret_key }}{% endif %}

{% if pretalx_core_modules %}core_modules = {{ pretalx_core_modules }}{% endif %}


[mail]
from = {{ pretalx_mail_from }}
host = {{ pretalx_mail_host }}
port = {{ pretalx_mail_port }}

{% if pretalx_mail_user %}user = {{ pretalx_mail_user }}{% endif %}

{% if pretalx_mail_password %}password = {{ pretalx_mail_password }}{% endif %}

tls = {{ pretalx_mail_tls }}
ssl = {{ pretalx_mail_ssl }}

{% if pretalx_celery %}[celery]
backend = {{ pretalx_celery_backend }}
broker = {{ pretalx_celery_broker }}{% endif %}

{% if pretalx_redis_location %}
[redis]
location = {{ pretalx_redis_location }}
sessions = True
{% endif %}

{% if pretalx_admin_mail %}
[logging]
email = {{ pretalx_admin_mail }}
{% endif %}

{% if pretalx_additional_config %}{{ pretalx_additional_config }}{% endif %}
