[Unit]
Description=pretalx {{ pretalx_instance_identifier }} server application
Requires=pretalx_{{ pretalx_instance_identifier }}.socket
After=network.target

[Service]
User={{ pretalx_system_user }}
Group={{ pretalx_webserver_group }}
WorkingDirectory={{ pretalx_system_home }}/.local/lib/python{{ pretalx_system_python_version }}/site-packages/pretalx
ExecStart={{ pretalx_system_home }}/.local/bin/gunicorn --bind unix:/run/gunicorn/pretalx_{{ pretalx_instance_identifier }} --workers 4  --max-requests 1200  --max-requests-jitter 50 pretalx.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID