[Unit]
Description=pretalx %I background worker
After=network.target

[Service]
User=pretalx_%i
Group=pretalx_%i
WorkingDirectory=/home/pretalx_%i/.local/lib/python{{ pretalx_system_python_version }}/site-packages/pretalx
ExecStart=/home/pretalx_%i/.local/bin/celery -A pretalx.celery_app worker -l info
WorkingDirectory=/home/pretalx_%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
