[Unit]
Description=pretalx %I background worker
After=network.target

[Service]
User=%u
User=%u
Group=pretalx_%i
WorkingDirectory=/home/%u/.local/lib/python{{ pretalx_system_python_version }}/site-packages/pretalx
ExecStart=/home/%u/.local/bin/celery -A pretalx.celery_app worker -l info
WorkingDirectory=/home/%u
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=default.target
