[django]
debug = False
static = {{ pretalx_staticfiles_directory }}
data_dir = {{ pretalx_data_dir }}

[database]
backend = {{ pretalx_database_backend }}
name = {{ pretalx_database_name }}
user = {{ pretalx_database_user }}
password = {{ pretalx_database_password }}
host = {{ pretalx_database_host }}
port = {{ pretalx_database_port }}

[site]
url = {{ pretalx_url }}
