[Unit]
Description=pretalx server application
Requires=pretalx.socket
After=network.target

[Service]
User=pretalx
Group=pretalx
WorkingDirectoy=/home/pretalx/.local/lib/python3.6/site-packages/pretalx
ExecStart=/home/pretalx/.local/bin/gunicorn --bind unix:/run/gunicorn/pretalx pretalx.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
